<!--breadcrumbs area start-->
<div class='breadcrumbs_area'>
    <div class='row'>
        <div class='col-12'>
            <div class='breadcrumb_content'>
                <ul>
                    <li><a href='/'>home</a></li>
                    <li><i class='fa fa-angle-right'></i></li>
                    <li>contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact area start-->
<div class='contact_area'>
    <div class='row'>
        <div class='col-lg-6 col-md-12'>
            <div class='contact_message'>
                <h3>Tell us your project</h3>
                <form id='contact-form' method='POST' action='assets/mail.php'>
                    <div class='row'>
                        <div class='col-lg-6'>
                            <input
                                name='name'
                                placeholder='Name *'
                                type='text'
                            />
                        </div>
                        <div class='col-lg-6'>
                            <input
                                name='email'
                                placeholder='Email *'
                                type='email'
                            />
                        </div>
                        <div class='col-lg-6'>
                            <input
                                name='subject'
                                placeholder='Subject *'
                                type='text'
                            />
                        </div>
                        <div class='col-lg-6'>
                            <input
                                name='phone'
                                placeholder='Phone *'
                                type='text'
                            />
                        </div>

                        <div class='col-12'>
                            <div class='contact_textarea'>
                                <textarea
                                    placeholder='Message *'
                                    name='message'
                                    class='form-control2'
                                ></textarea>
                            </div>
                            <button type='submit'> Send Message </button>
                        </div>
                        <div class='col-12'>
                            <p class='form-messege'></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class='col-lg-6 col-md-12'>
            <div class='contact_message contact_info'>
                <h3>contact us</h3>
                <p>Claritas est etiam processus dynamicus, qui sequitur
                    mutationem consuetudium lectorum. Mirum est notare quam
                    littera gothica, quam nunc putamus parum claram anteposuerit
                    litterarum formas human.</p>
                <ul>
                    <li><i class='fa fa-fax'></i>
                        Address : 371 Nguyen Kiem, Go Vap, Tp.HCM</li>
                    <li><i class='fa fa-phone'></i>
                        <a href='#'>nhannhan0568@gmail.com</a></li>
                    <li><i class='fa fa-envelope-o'></i> 0(1234) 567 890</li>
                </ul>
                <h3><strong>Working hours</strong></h3>
                <p><strong>Monday – Saturday</strong>: 08AM – 22PM</p>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->

<!--contact map start-->
<div class='contact_map'>
    <div class='row'>
        <div class='col-12'>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15743737.99466416!2d95.22942080553861!3d15.5549529485283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2zVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1712244352104!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!--contact map end-->